<%- include ('./partials/header') %>

<div style="margin: 3em; padding: 1em;" class="justify-content-center">


<div style="display: flex; justify-content: center; margin-top: 1em;">
    <h3 style="font-size: xx-large; margin-bottom: 1em; margin-top: 1em;"><b> List of Asteroids </b></h3>
</div>
 <!-- Adds a specific date based on the closest approach to Earth -->

<div style="display: flex; justify-content: center;">
    <p class="justify-content-center">Select the date to retrieve a list os Asteroids based on their closest approach to Earth</p>
</div>

<br>

<div style="display: flex; justify-content: center;">
    <div class="justify-content-center" >
        <form id="newDate" action="/asteroids" method="GET">
            <label>from:</label>
            <input type="date" required name="initialDate">
            <label> until:</label>
            <input type="date" required name="endDate">
            <input class="btn btn-outline-primary me-2" type="submit" value="add-date">
        </form>
    </div>
</div>
</div>

 <!-- // NASA API ASTEROIDS //  ------------------------------------------------------------------->

<% dates.forEach((date)=> { %>
    <br>
    
    <!-- DATES  -->
        <div class="btn btn-outline-primary active" style="display: flex; justify-content: center; margin-top: 2.5em; margin-bottom: 2em; font-size:xx-large;"><%=date %></div>
            <br> 

            <% asteroidsData[date].forEach((asteroid) => { %>
    
            <div style="display:inline-flex; margin-left: 6em; margin-right: 1em; margin-top: 1em; ">
            
    <!-- BACKGROUND COLOR NASA ASTEROID -->

            <a href="/asteroids/<%=asteroid.id%>"><button style="padding: 1em; width: 500px; background-color: #030919f8;" type="button" class="btn btn-primary-outline ">
    
            <div style="margin: 1em;" class="row">

            <div style="padding: 1em;" class="mx-auto p-6 col-12 justify-content-center">

             <img style="width: 80px; margin-bottom: 2em;" src="/images/NASA-Logo-Large.png" alt="nasa-logo">
                
    <!-- ASTEROID NASA NAME -->
             
                <div class="d-grid gap-2 col-12 mx-auto"> <a href="/asteroids/<%=asteroid.id%>" class="btn btn-outline-primary active"><%= asteroid.name.slice(1,-1).replace('(',' ') %></a>
                </div>
   

    <!-- MAGNITUDE -->

            <div style="gap: 2px; margin-top: 1em;" class="d-grid row-1 justify-content-center">
                <div style="display: flex; justify-content: center;" style="margin: 1em;" class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><b>Magnitude</b></span>
                    </div>
                <p style="display: inline-flex; "><div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
                    <%= asteroid.absolute_magnitude_h %>
                </div>
            </div>

    <!-- DIAMETER -->
            
                <div style="display: flex; justify-content: center;" class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><b>Diameter</b></span>
                    </div>
                <p style="display: inline-flex;"><div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
                    <%= asteroid.estimated_diameter.meters.estimated_diameter_min %> <b style="margin-left: 5px;"> meters </b> 
                </div>
            </div>
           
    <!-- HAZARDOUS -->

            <div style="display: flex; justify-content: center;" class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><b>Is Hazardous?</b></span>
                </div>
                <p style="display: inline-flex;">
                
                    
                <!-- IF IS HAZARDOUS -->
                    <% if(asteroid.is_potentially_hazardous_asteroid) { %>
                    <div style="display: inline-flex;" class="btn btn-underline p-12  bg-danger"></div>
                    <b style="color: rgb(255, 255, 255)">Yes</b>
                    
                <!-- IF IS NOT HAZARDOUS -->
                    <% } else { %>
                    <b style="color: rgb(0, 0, 0)">
                        <div style="display: inline-flex;" class="btn btn-underline p-12  bg-success">
                        No
                    </b>
                    <% } %>
                </div>
            </div>

            <!-- DAY CLOSEST TO THE EARTH -->
            <div style="display: flex; justify-content: center;" class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default"><b>Day it will be closest to the Earth</b></span>
                </div>
                <p style="display: inline-flex;">
                <div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
                 <%= date %> 
                </div>

            </div>         
            </div>
            </div>
            </div>
           </div>
         </div>
       
    </button>
    </a>
   <% }); %>
<% }); %>


<!-- // USER ASTEROIDS // ------------------------------------------------------------------------> 

<!-- USER ASTEROIDS  -->

<div class="btn btn-outline-primary active"
    style="display: flex; justify-content: center; margin-top: 5em; margin-bottom: 1em; font-size:xx-large;">
    User's Asteroids
</div>
<br>
    <% userAddedAsteroids.forEach((asteroid)=> {  %>
    <br>

    <!-- AVATAR PICTURE -->

<div style="display:inline-flex; margin-left: 6em; margin-right: 1em; margin-top: 1em;">
    
    
        <a href="/asteroids/<%=asteroid.id%>"><button style="padding: 1em; width: 500px; background-color: #030919f8;"
                type="button" class="btn btn-primary-outline ">
        
                <div style="margin: 1em;" class="row">
        
                    <div style="padding: 1em;" class="mx-auto p-6 col-12 justify-content-center">
        
                        <img class="justify-content-center" style=" border-radius: 50%; width: 80px;margin-bottom: 0.2em;" alt="avatar" src="<%= asteroid.userAvatar%>" referrerpolicy="no-referrer">
        </div>
    </td>
    <h5 style="font-size: small;" class="profile-name">added by: <%= asteroid.userName %></h5>


<!-- NAME -->
    <div class="user-asteroid">
    <div class="d-grid gap-2 col-12 mx-auto"> <a href="/asteroids/<%=asteroid._id%>" class="btn btn-outline-primary active">
            <%= asteroid.name %></a>
                </div>
                    </div>
    
       
<!-- MAGNITUDE  -->

    <div style="gap: 2px; margin-top: 1em;" class="d-grid row-1 justify-content-center">
        <div style="display: flex; justify-content: center;" style="margin: 1em;" class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"><b>Magnitude</b></span>
            </div>
            <p style="display: inline-flex; ">
            <div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
                <%= asteroid.magnitude %>
            </div>
        </div>

<!-- DIAMETER  -->

<div style="display: flex; justify-content: center;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"><b>Diameter</b></span>
    </div>
    <p style="display: inline-flex;">
    <div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
        <%= asteroid.diameter %> <b style="margin-left: 5px;"> meters </b>
    </div>
</div>
            

<!-- HAZARDOUS -->

<div style="display: flex; justify-content: center;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"><b>Is Hazardous?</b></span>
    </div>
    <p style="display: inline-flex;">


        <!-- IF IS HAZARDOUS -->
        <% if( asteroid.hazardous) { %>
            <div style="display: inline-flex;" class="btn btn-underline p-12  bg-danger">
            <b style="color: rgb(255, 255, 255)">
                Yes
            </b>
            
</div>
            <!-- IF IS NOT HAZARDOUS -->
            <% } else { %>
                <b style="color: rgb(0, 0, 0)">
                    <div style="display: inline-flex;" class="btn btn-underline p-12  bg-success">
                        No
                </b>
                <% } %>

</div>
          
<!-- DAY CLOSEST TO THE EARTH -->
<div style="display: flex; justify-content: center;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"><b>Day it will be closest to the Earth</b></span>
    </div>
    <p style="display: inline-flex;">
    <div style="display: inline-flex; color: aliceblue;" class="btn btn-underline p-12  bg-primary">
        <%= asteroid.date.getUTCFullYear()+"-" +asteroid.date.getUTCMonth()+1 +"-"+asteroid.date.getUTCDate(); %>
             </div>      
        
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    
</button>
    <% }); %>

<%- include ('./partials/footer') %>