<%- include ('./partials/header') %>

<div style="font-size: x-large; display:flex; justify-content: center; align-items: center; margin: 5em;" class="justify-content-center">
<section id="show-page">


<!-- NAME -->


<button class="btn btn-outline-primary active"
    style="display: flex; width: 2000px; justify-content: center; margin-top: 0.5em; margin-bottom: 2em; font-size:xx-large;">
    <%= asteroid.name.slice(1,-1).replace('(',' ') %>
</button>


<!-- MAGNITUDE -->

   
        <div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
            <div class="input-group-prepend">
                <span style="width: 750px; font-size: 25px;" class="input-group-text" id="inputGroup-sizing-default"><b>Magnitude</b></span>
            </div>
            <p style="display: inline-flex; ">
            <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue" class="btn btn-underline p-12  bg-primary">
                <%= asteroid.absolute_magnitude_h %>
            </div>
        </div>

<!-- DIAMETER -->
        
        
        <div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
            <div class="input-group-prepend">
                <span style="width: 750px; font-size: 25px;" class="input-group-text"
                    id="inputGroup-sizing-default"><b>Diameter</b></span>
            </div>
            <p style="display: inline-flex; ">
            <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue" class="btn btn-underline p-12  bg-primary">
                <%= asteroid.estimated_diameter.meters.estimated_diameter_min %>
            </div>
        </div>

<!-- HAZARDOUS -->


<div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span style="width: 750px; font-size: 25px;" class="input-group-text"
            id="inputGroup-sizing-default"><b>Is Hazardous?</b></span>
    </div>
    <p style="display: inline-flex; ">
    
    <!-- IF IS HAZARDOUS  -->

    <% if(asteroid.is_potentially_hazardous_asteroid) { %>

    <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue"
        class="btn btn-underline p-12  bg-danger">
        Yes

    <% } else { %>

        <div style="display: inline-flex; width: auto; font-size: 25px;" class="btn btn-underline p-12  bg-success">
            No

        <% } %>

    </div>
</div>

   
<!-- LIST OF DATES -->


    <div style="padding-top: 0.5em; padding-left: 30%;" class="accordion" id="accordionExample">
        <div style="width: 800px;  background-color: #030919f8;"class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <b style="font-size: 20px;">List of dates it will be close to Earth:</b>
                </button>
            </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <% asteroid.close_approach_data.map((dates)=> { %>
                <strong style="display: flex; justify-content: center;">
                    <div style="display: flex; justify-content: center;" class="col-3 p-2 bg-light border">
                        <%= dates.close_approach_date %>
                    </div>
                </strong>
                    <% }); %>
            </div>
        </div>
        </div>
    
    <br>
    
    <a style="display: flex; justify-content: end; padding-right: 25em;" href='<%= asteroid.nasa_jpl_url %>' target=”_blank”><button style="color: aliceblue" class="btn btn-underline p-12  bg-primary">More details</button></a>
</div>
<%- include ('./partials/footer') %>