<%- include ('./partials/header') %>

<div style="font-size: x-large; display:flex; justify-content: center; align-items: center; margin: 5em;"
    class="justify-content-center">
    <section id="show-page">

<!-- NAME -->


<button class="btn btn-outline-primary active"
    style="display: flex; width: 2000px; justify-content: center; margin-top: 0.5em; margin-bottom: 0.8em; font-size:xx-large;">
    <%= asteroid.name %>
</button>


<!--EDIT / DELETE -->
<div style="display: flex; justify-content: center; margin-bottom: 1em; margin-left: 35%;">
    <!-- EDIT ASTEROID -->
    <a style="color: aliceblue; margin-right: 0.5em;" href="/asteroids/<%=asteroid._id%>/edit"><button type="button"
            class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
            </svg></button></a>


    <!-- DELETE ASTEROID -->
    <a style="margin-left: 0.5em;" href="/asteroids/<%=asteroid._id%>/delete"><button type="button"
            class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
            </svg></button></a>
</div>

<!-- MAGNITUDE -->


<div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span style="width: 750px; font-size: 25px;" class="input-group-text"
            id="inputGroup-sizing-default"><b>Magnitude</b></span>
    </div>
    <p style="display: inline-flex; ">
    <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue"
        class="btn btn-underline p-12  bg-primary">
        <%= asteroid.magnitude %>
    </div>
</div>

<!-- DIAMETER -->


<div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span style="width: 750px; font-size: 25px;" class="input-group-text"
            id="inputGroup-sizing-default"><b>Diameter</b></span>
    </div>
    <p style="display: inline-flex; ">
    <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue"
        class="btn btn-underline p-12  bg-primary">
        <%= asteroid.diameter %>
    </div>
</div>

    
<!-- HAZARDOUS -->


<div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
    <div class="input-group-prepend">
        <span style="width: 750px; font-size: 25px;" class="input-group-text" id="inputGroup-sizing-default"><b>Is
                Hazardous?</b></span>
    </div>
    <p style="display: inline-flex; ">

        <!-- IF IS HAZARDOUS  -->

        <% if(asteroid.hazardous) { %>

            <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue"
                class="btn btn-underline p-12  bg-danger">
                Yes

                    <% } else { %>

                        <div style="display: inline-flex; width: auto; font-size: 25px;"
                            class="btn btn-underline p-12  bg-success">
                            No

                         <% } %>

                </div>
            </div>

   
    <!-- DATE -->
    
    
    <div style="display: flex; justify-content: center; padding: 0.5em;" style="margin: 1em;" class="input-group mb-2">
        <div class="input-group-prepend">
            <span style="width: 700px; font-size: 25px;" class="input-group-text"
                id="inputGroup-sizing-default"><b>Date it will be close to Earth</b></span>
        </div>
        <p style="display: inline-flex; ">
        <div style="display: inline-flex; width: auto; font-size: 25px; color: aliceblue"
            class="btn btn-underline p-12  bg-primary">
            <%= asteroid.date.getUTCMonth() + 1 +"/"+asteroid.date.getUTCDate()+"/"+asteroid.date.getUTCFullYear(); %>
        </div>
    </div>
            
   
    <!-- Adds the picture and description of a specific asteroid -->
    
    <div style="display:flex; justify-content: center; margin-top: 3em; margin-left: 17em;" class="col-7">
    
        <form id="add-img-description" method="POST" action="/asteroids/<%=asteroid._id%>">
    
            <input type="url" name="link" class="form-control" id="floatingInputDisabled"
                placeholder="paste the image url here">
    
            <br>
            <div  class="form-floating">
                <textarea style="width: 800px; height: 100px;" name="description" class="form-control" placeholder="Description" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                
                
    
                <button style="font-size: large; margin-top: 1em;" type="submit" name="add-url-description"
                    class="btn btn-primary btn-lg">submit</button>
    
            </div>
            <br>
        </form>
    
    
    </div>

    <!-- Show the images of the asteroids -->

    <%asteroid.pictures.forEach((picture)=> { %>
    
    
    <!-- Deletes the picture and description of a specific asteroid -->
    
 

        <img  style="display: inline-flex; width: 550px; height: 550px; object-fit: cover; justify-content: center; margin-left: 36%;" src="<%= picture.link %>" >
        
        <form action="/asteroids/<%=asteroid._id%>/<%=picture._id%>/delete-img?_method=DELETE" method="POST">
            <button style="display: flex; justify-content: center; margin-left: 30em;" type="submit" class="btn-close btn-close-white" aria-label="Close"></button>
        </form>
        <p style="display: flex; justify-content: center; margin-bottom: 2em; font-size: small;" ><%= picture.description %></p>
           
   
    <% }); %>



    


   
</section>


<%- include ('./partials/footer') %>