<%- include ('./partials/header') %>

<section id="show-page">

    <h3>Name: <%= asteroid.name %></h3>
    <p>Magnitude: <%= asteroid.magnitude %>
    </p>
    <p>Diameter: <%= asteroid.diameter %>
    </p>
    <p>Is Hazardous?: <%= asteroid.hazardous %>
    </p>
    <p>Day it will be closest to the Earth: <%= asteroid.date.getUTCMonth() + 1 +"/"+asteroid.date.getUTCDate()+"/"+asteroid.date.getUTCFullYear(); %></p>

    <!-- Show the images of the asteroids -->

    <%asteroid.pictures.forEach((picture)=> { %>
    
    <img src="<%= picture.link %>">
    <p><%= picture.description %></p>

    <!-- Deletes the picture and description of a specific asteroid -->
    
    <form action="/asteroids/delete-img?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form>
    
    <% }); %>

    <!-- Adds the picture and description of a specific asteroid -->

    <form id="add-img-description" method="POST" action="/asteroids/<%=asteroid._id%>">
        <label>Picture's URL</label>
            <input type="url" name="link">
    <br>
        <label>Description</label>
            <textarea name="description"></textarea>
            <button type="submit" name="add-url-description">submit</button>
    <br> 
    </form>

   

    <a href="/asteroids/<%=asteroid._id%>/delete">Delete</a>
</section>


<%- include ('./partials/footer') %>